<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
  <body>
  <form action="/checkout" method="post">
    <p>Item name: <input type="text" name="item"><p>
    <input type="submit" id="submit">
  </form>
  </body>
</html>

